:root {
    --color-grey: rgb(168, 165, 165);
    --color-red: #F94720;
    --light-background: #003d57;
    --dark-background: #012a3b;
    --font: 1.5rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 3.5rem;
    background: var(--color-red);
    border: none;
    border-radius: 0.2rem;
    font-size: var(--font);
    color: white;
    transition: all 0.5s;
    border: .1rem solid var(--color-red);
    margin-top: .5rem;
}

button:hover {
    background: white;
    color: var(--color-red);
    cursor: pointer;
}

h1 {
    font-size: 5rem;
    line-height: 1;
}

h2 {
    padding-top: 2rem;
    font-weight: 400;
    font-size: 3rem;
}

h4 {
    text-transform: uppercase;
    font-size: var(--font);
    font-weight: 600;
}

p {
    font-size: var(--font);
}

.header {
    background-image: url("img/wooden-fence\ 1.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}

.header-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    border-bottom: 0.1rem solid var(--color-grey);
    height: 15vh;
}

.logo, .nav, .nav-links, .hero {
    display: flex;
    flex:1;
}

.logo {
    align-items: center;
}

.logo > h2 > span {
    color: var(--color-grey);
}

.nav {
    align-items: center;
}

.nav-links {
    list-style: none;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: var(--font);
    transition: all 0.5s;
}

.nav-link:hover {
    color: var(--color-red);
}

.hero {
    height: 85vh;
    width: 60%; 
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
}

.hero-elements > * {
    margin: 2rem 0;
}

.description {
    width: 65%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin: 5rem auto;
    align-content: center;
    justify-content: center;
    gap: 2rem 8rem;    
}

.description-elements {
    text-align: center;
    padding: 4rem 2rem;   
}

.description-elements > * {
    padding: 1rem 0;
}

.icon {
    width: 6rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 0.5rem;
}

.gallery-image {
    position: relative;
    transition: all 0.5s;
}

.gallery-image > img {
    width: 100%;
    position: relative;
    z-index: -1;
} 

.gallery-image:hover {
    background: rgba(249, 71, 32, 0.7);
}

.gallery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.gallery-text > * {
    padding: 1rem;
}

.gallery-image:hover .gallery-text {
    visibility: visible;
    opacity: 1;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    height: 80%;
    margin: 15rem;
    justify-content: space-between;
    gap: 0 3rem;
}

.about-elements > img {
    width: 100%;
    text-align: center;
}

.about-element > p {
    width: 100%;
    line-height: 1.5;
    padding: 2rem 0;
}

.about-element > h4 {
    color: var(--color-red);
}

.icons > * {
    border: 0.1rem solid var(--color-grey);
    padding: 1rem;
    margin: 0.5rem;
    transition: all 0.5s;
}

.about-element > .icons *:hover {
    background-color: black;
    color: white;
}


.last-one {
    display: flex;
}

.last-one > img {
    flex:1;
    flex-basis: 50%;
    width: 100%;
}

.quote {
    flex:1;
    flex-basis: 50%;
    background-color: burlywood;
    display: grid;
    align-content: center;
    padding: 0 6rem;
    justify-content: center;
}

.quote > blockquote > p {
    font-size: 7rem;
    font-family: 'Dancing Script', cursive;
}

.quote > figcaption {
    display: flex;
    margin-top: 1.5rem;
}

.download {
    height: 40vh;
    display: grid;
    width: 50%;
    margin: auto auto;
    justify-content: center;
    align-content: center;
}

.download > * {
    padding: 1rem 0;
    text-align: center;
}

.footer, .footer-author {
    color: white;
    text-align: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-content: center;
    color: white;
    background-color: var(--light-background);
}


.footer > * {
    text-align: center;
    display: grid;
    padding: 6rem 0;
}

.footer-header {
    margin-bottom: 1rem;
}

.footer-icons > .icons * {
    border: .1rem solid white;
}

.footer-icons > .icons *:hover {
    background-color: white;
    color: var(--light-background);
    transition: all 0.5s;
}

.footer-about > p > span {
    display: block;
}

.footer-author {
    grid-column: 1 / -1;
    background-color: var(--dark-background);
    padding: 4rem 0;
}

@media screen and (max-width: 1400px) {

    .hero-elements > h1 {
        font-size: 4rem;
        line-height: 1;
    }

    .hero-elements > h2 {
        font-size: 2.5rem;
    }

    .last-one {
        display: grid;
    }

    .quote {
        height: 60vh;
    }

    .about {
        grid-template-columns: repeat(2, minmax(25rem, 1fr));
    }

}

/* @media screen and (max-width: 1100px)  */

@media screen and (max-width: 1000px) {

    .hamburger {
        position: absolute;
        right: 5%;
        top: 7%;
        z-index: 1;
    }
    
    .line {
        width: 3rem;
        height: .3rem;
        background-color: white;
        margin: .5rem;
    }

    .nav-links {
        opacity: 0;
        justify-content: space-around;
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        width: 100%;
        height: 70%;
        transform: translateY(-100%);
        transition: all .5s;
        flex-direction: column;
    }

    .open {
        transform: translateY(0);
        background-color: black;
        opacity: 1;
    }

    .about {
        grid-template-columns: repeat(1, minmax(25rem, 1fr));
    }

    .last-one > img {
        display: none;
    }

    .footer {
        grid-template-columns: repeat(1, minmax(30rem, 1fr));
    }
}